body{
	background-color: #1A1A1A;
	padding-left: 20px;
}	

h1, h2, h3, h4, h5, h6 {
	color: #AA7138;
}

p , pre, blockquote, cite, bdo{
	color: #B9AB78;
	/*padding: 0px;*/
}

a:link, a:active, a:visited, a:hover{ 
	color: #B9AB78;
}

th{
	color: #AA7138;
	border: 1px solid #AA7138;
	border-collapse: collapse;
}

table, td{
	color: #B9AB78;
	border: 1px solid #AA7138;
	border-collapse: collapse;
	width: 25%
}

th, td{
	padding: 5px;
}

th {
	color: blacks;
	text-align: left;
}

ul {
	color: #B9AB78;
}
hr {
    border-color: #3F2A14;
    -shadow: white;
/*    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
*/}

ul.circles{
	list-style-type: circle;
}

ul.squares{
	list-style-type: square;
}
ul.none{
	list-style-type: none;
}

ul.menu{
	/*Circles, squares, etc*/
	list-style-type: none;
	/*margin: 0;*/
	padding: 0;
	overflow: hidden;
	background-color: #124301;
}

li.menu{
	/*This is what makes in horizontal*/
	float: left;
}

li.menu a{
	display: block;
	color: white;
	/*text-align: right;*/
	padding: 16px;
	/*This gets rid of the underlining and highlight of these hyperlinks*/
	text-decoration: none;
}

/*When the mouse is hovered overthe hyperlink, change colors*/
li.menu a:hover{
	background-color: #111111
}

div.dark{
	border-radius: 25px;
	margin: 20px 0 20px 0;
	background-color: #3F2A14;
	padding: 20px
}

iframe {
	height: 500px;
	width: 80%;
	border: 10px solid #AA7138;
	border-radius: 25px;
}