
body{
	background-color: #53371B;
	/*padding-left: 20px;*/
}	

ul.header_menu{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #3F2A14;
}

li.header_menu{
	float: center;
/*	border: 1px solid #111111;
*/	display: inline-block;
	padding: 16px;
}

li.header_menu a{
	color: white;
	text-decoration: none;
	padding: 16px;
}

li.header_menu a:hover{
	background-color: #111111;
}

h1, h2, h3, h4, h5, h6 {
	color: #AA7138;
}

p , pre, blockquote, cite, bdo{
	color: #B9AB78;
	/*padding: 0px;*/
}

div.body {
	padding-left: 20px;
}


a:link, a:active, a:visited, a:hover{ 
	color: #B9AB78;
}

th{
	color: #AA7138;
	border: 1px solid #AA7138;
	border-collapse: collapse;
}

table, td{
	color: #B9AB78;
	border: 1px solid #AA7138;
	border-collapse: collapse;
	width: 25%
}

th, td{
	padding: 5px;
}

th {
	color: blacks;
	text-align: left;
}

ul {
	color: #B9AB78;
}

hr {
    border-color: #3F2A14;
/*    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
*/}

ul.circles{
	list-style-type: circle;
}

ul.squares{
	list-style-type: square;
}
ul.none{
	list-style-type: none;
}

ul.menu{
	/*Circles, squares, etc*/
	list-style-type: none;
	/*margin: 0;*/
	padding: 0;
	overflow: hidden;
	background-color: #124301;
}

li.menu{
	/*This is what makes in horizontal*/
	float: left;
}

li.menu a{
	display: block;
	color: white;
	/*text-align: right;*/
	padding: 16px;
	/*This gets rid of the underlining and highlight of these hyperlinks*/
	text-decoration: none;
}

/*When the mouse is hovered overthe hyperlink, change colors*/
li.menu a:hover{
	background-color: #111111
}

div.dark{
	border-radius: 25px;
	margin: 20px 0 20px 0;
	background-color: #3F2A14;
	padding: 20px
}

iframe {
	height: 500px;
	width: 80%;
	border: 10px solid #AA7138;
	border-radius: 25px;
}

header.demo, footer.demo{
	padding: 1em;
	color: #B9AB78;
	background-color: #111111;
	/*Clears any overlap from elements*/
	clear: left, right; 
	text-align: center;
}

div.demo{
	background-color: #202020;
}

nav.demo{
	float: left;
	max-width: 160px;
	margin: 0px;
	padding: 1em;
}

nav.demo ul{
	list-style-type: none;
	padding: none;
}

nav.demo a{
	color: #716849;
}

article.demo{
	margin-left: 170px;
	border-left: 1px solid #111111;
	padding: 1em;
	background-color: #202020;
}

article.demo p{
	color: #716849;
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

article.flex{
	text-align: left;
	border-left: 1px solid black;
	background-color: #202020;
}

header.flex, footer.flex{
	background: black;
	color: #B9AB78;
}

nav.flex{
	list-style-type: none;
	padding: 0;
	background-color: #202020
}

@media all and (min-width: 768px) {
    nav.flex {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    article.flex {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

#map{
	width: 40%;
	height 400px
}
